.main-container {
  grid-area: main;
  color: black;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}
.card h1 {
  color: white;
}

.card:first-child {
  background-color: #7eacb5;
}

.card:nth-child(2) {
  background-color: #fddbbb;
}

.card:nth-child(3) {
  background-color: #fadfa1;
}

.card:nth-child(4) {
  background-color: #c96868;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
  color: white;
}

.card-inner > .card_icon {
  font-size: 35px;
}

.chart-line {
  margin-top: 60px;
}
h3 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.chart-below {
  font-weight: 500;
  padding-top: 100px;
  padding-left: 20px;
}
