@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

.main {
  padding: 20px;
}

.Product-header {
  display: flex;
  gap: 10px;
}
.add-product {
  background-color: #a91811;
  color: white;
  border: none;
}
.delete-section {
  display: "flex";
  justify-content: "flex-end";
}
.ant-btn.ant-btn-primary:hover {
  background: #1890ff !important;
  color: white !important;
  border-color: #1890ff !important;
}

.ant-btn.ant-btn-add:hover {
  background: #a91811 !important;
  color: white !important;
  border-color: #a91811 !important;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #fff1f0 !important;
}

.ant-table-tbody > tr.ant-table-row-selected:hover > td {
  background-color: #ffe5df !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #a91811 !important;
  border-color: #a91811 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #a91811 !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #a91811 !important;
}
