* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #ffffff;
  --sidebar-color: #3e0703;
}

body {
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 270px;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  z-index: 10;
}

.logo {
  text-align: center;
  margin-top: -60px;
  margin-bottom: -80px;
}

.logo img {
  width: 240px;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 5px;
  cursor: pointer;
}
.menu li:hover,
.menu li.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.menu li img {
  width: 20px;
  margin-right: 10px;
}

.menu li span {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.user-section {
  margin-top: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 15px;
}

.profile,
.logout {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.profile img,
.logout img {
  width: 20px;
  margin-right: 10px;
}

.profile:hover,
.logout:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.profile span,
.logout span {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
