.Heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: antiquewhite;
}

.Heading h1 {
  margin: 0;
  font-size: 20px;
}
