* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #ffffff;
    --sidebar-color: #3E0703;
    --content-color: #000000;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 280px;
    background-color: var(--sidebar-color);
    color: (--text-color);
    display: flex;
    flex-direction: column;
}

.logo {
    text-align: center;
    margin-top: -60px;
    margin-bottom: -40px;
}

.logo img {
    width: 250px;
}

.logo h2 {
    font-size: 18px;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.menu li:hover, .menu li.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.menu li img {
    width: 20px;
    margin-right: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.user-section {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    
}

.profile, .logout {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

.profile img, .logout img {
    width: 20px;
    margin-right: 10px;
}

.profile:hover, .logout:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.profile a, .logout a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.main-content {
    flex: 1;
    padding: 30px;
    background-color: #f5f5f5;
}

.main-content h1 {
    color: var(--content-color);
    margin-bottom: 20px;
}